html, body {
  margin: 0;
  padding: 0;
  background-color: #241333;
}

canvas {
  padding: 0;
  margin: auto;
  display: block;
  width: 800px;
  height: 600px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.buttonStyle {
  font-size: 18px;
  color: #1f1934;
  font-family: Georgia;
  background-color: #C39EBA;
  padding: 5px 12px;
}
